@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;200;400&family=Roboto&family=Work+Sans&family=Play&family=Nunito&display=swap');

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
  
}
.logo h1{
    color: whitesmoke;
}
.navbar{
    display: flex;
    flex-direction: row;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    background-color: #302f57;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
}
nav a{
    padding: 0 .5rem 0 0.5rem;
    font-size: 1.1rem;
    color: whitesmoke;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    padding: 1.5rem;
    background-color: #302f57;
}
body{
  background-color: #27274d;
  width: 100%;
  height: auto; 

}
.pages{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
.home{
  display: flex;
  justify-content: space-around; 
}
.main{
  border-radius: 15px;
  width: 100%;
  max-height: 470px;
  padding: 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: #302f57;
}
::-webkit-scrollbar{
  background-color: #27274d;
  width: 15px;

}
::-webkit-scrollbar-thumb{
  background-color: #47466e;
  border-radius: 15px;
}
::-webkit-scrollbar-track{
  background-color: #27274d;
} 
ul{
  height: auto;
  list-style: none;
  text-align: left;
}
.deleteLogo{
  color: aqua;
  font-size: 1rem;
  cursor: pointer;
}
.todoData{
  display: flex;
  justify-content: space-between;
}
.buttons button{
  outline: none;
  background-color: #47466e;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  margin: 0 0.5rem 0 0.5rem;
  border: none;
  color: whitesmoke;
  border-radius: 10px;
}
.buttons .done{
  color: rgb(10, 216, 10);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.buttons .done:hover{
  color: white;
  background-color: rgb(10, 216, 10);
}
.buttons .edit{
  cursor: pointer;
  color: aliceblue;
  transition: ease-in-out 0.3s;
}
.buttons .edit:hover{
  color: #27274d;
  background-color: white;
}
.doIt{
  outline: none;
  border: none;
  background-color: #47466e;
  color: white;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-top: 0.7rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.04rem;
  transition: ease-in-out 0.3s;
}
.doIt:hover{
  background-color: white;
  color: #27274d;
}
.buttons .delete{
  cursor: pointer;
  color: red;
  transition: ease-in-out 0.3s;
}
.buttons .delete:hover{
  background-color: red;
  color: white;
}
ul li{
  border: 2px solid grey;
  padding: 1rem;
  /* width: 100%; */
  border-radius: 15px;
  color: aliceblue;
  margin: 0 0 1rem 0;
}

.form{
  /* border: 2px solid white; */
  text-align: left;
  padding: 2rem 4rem 2rem 2rem;
  margin-left: 20px;
  border-radius: 15px;
  width: 50%;
  height: auto;
  background-color: #302f57;
}
form input{
  width: 100%;
  color: white;
  background-color: #47466e;
  border: none;
  margin-bottom: .5rem;
  margin-top: .5rem;
  outline: none;
  padding: 1rem;
}
label{
  color: white;
  margin-bottom: .5rem;
}
::-webkit-scrollbar-corner{
  border-radius: 15px;
}
::-webkit-scrollbar-track{
  background-color: #302f57;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}
@media screen and (max-width: 768px) {
  .home{
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 4rem;
  }
  .main{
  }
  .form{
    width:fit-content;
    margin-left: 0;
    width: 87%;
    margin-bottom: 2rem;
  }
  nav a{
    font-size: 1rem;
  }
  .logo h1{
    font-size: 2rem;
  }
  .todoData{
    flex-direction: column;
  }
  footer{
    padding: 0.5rem;
    position: fixed;
  }
  .navbar{
    width: 100%;
  }
  .buttons{
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
}
